SECRET_KEY=change-this-to-a-long-random-secret-key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# For development, console backend prints emails/OTP in terminal.
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend

For real SMTP email, uncomment/update these values and change EMAIL_BACKEND.
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=kinug0607@gmail.com
EMAIL_HOST_PASSWORD=jlmjyjpuojvfdbsb
DEFAULT_FROM_EMAIL=Secure Auth <kinug0607@gmail.com>

SESSION_COOKIE_AGE=3600